body {
    margin: 10px auto 0;
    width: 100%;
    padding: 0;
    background-color: #EEE;
    text-align: center;
}
#game-container{
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.points{
    font-size: 3em;
}

.canvas{
    width: 90%;
    border: 2px solid black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #f5f5f5;
}

#control{
    margin-top: 10%;
}

.some{
    display: none;
}

.canvasGame{
    width: 800px;
}

button{
    width: 250px;
    height: 150px;
    border: 2px solid teal;
    border-radius: 100px;
    margin: -10px 60px ;
    font-size: 3em;
}

button:focus{
    outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }
    button:focus {
     outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }

#play{
    width: auto;
    height: auto;
}

@media(min-width: 1000px){
    .canvas{
        max-width: 500px;
    }
    .points{
        font-size: 2em;
    }
}